---
import config from 'virtual:config'
import { Button, Collapse, Spoiler, Timeline, Signature } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import zotero from '@/assets/tools/zotero.png'

const headings = [
  {
    depth: 2,
    slug: 'tools',
    text: 'Tools'
  },
  {
    depth: 2,
    slug: 'social-networks',
    text: 'Social Networks'
  },
  {
    depth: 2,
    slug: 'education',
    text: 'Education'
  },
  {
    depth: 2,
    slug: 'experience',
    text: 'Experience'
  },
  {
    depth: 2,
    slug: 'about-blog',
    text: 'About Blog'
  }
]
---

<PageLayout title='About' {headings} comment>
  <h2 id='general-talk' class='invisible m-0 h-0'>General Talk</h2>
  <p class='text-muted-foreground'>Developer / Designer / <del>Medical student </del></p>
  <p>你好，我叫 Arthals，是一个兴趣使然、热爱编程的医学生。</p>
  <p>
    目前就读于北京大学医学部，同时修读计算机科学技术双学位。一边被 <del> 病理病生理药理 </del>
    内外妇儿折磨，一边在
    <del> ICS 的 Lab 作业 </del> Pytorch 中 debug 到头秃。
  </p>
  <p>我的兴趣主要在 CV / Embodied AI 方向。</p>
  <p>我喜欢 Minecraft。</p>
  <div class='flex w-fit gap-x-2'>
    <!-- <img
      src='https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2Fzhuozhiyongde&count_bg=%23000000&title_bg=%23000000&icon=spacex.svg&icon_color=%23E7E7E7&title=Hits&edge_flat=true'
      class='my-0 rounded-md border'
    /> -->
    <img
      alt='CodeTime Badge'
      src='https://shields.jannchie.com/endpoint?style=flat&color=222&url=https%3A%2F%2Fapi.codetime.dev%2Fv3%2Fusers%2Fshield%3Fuid%3D20455'
      class='rounded-md border'
    />
  </div>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>以下是我正在使用的一些工具：</p>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Arc',
        description: 'Broswer',
        href: 'https://arc.net/',
        icon: import('@/assets/tools/arc.svg?raw')
      },
      {
        name: 'Tailscale',
        description: 'VPN',
        href: 'https://tailscale.com/',
        icon: import('@/assets/tools/tailscale.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      },
      {
        name: 'Zotero',
        description: 'Reference Management',
        href: 'https://www.zotero.org/',
        icon: zotero
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'Cursor',
        description: 'AI Code Editor',
        href: 'https://www.cursor.com/',
        icon: import('@/assets/tools/cursor.svg?raw'),
        darkIcon: import('@/assets/tools/cursor_dark.svg?raw')
      },
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Warp',
        description: 'Terminal',
        href: 'https://warp.dev/',
        icon: import('@/assets/tools/warp.svg?raw')
      },
      {
        name: 'LobeChat',
        description: 'AI Chat',
        href: 'https://www.lobehub.com/',
        icon: import('@/assets/tools/lobechat.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      // {
      //   name: 'Illustrator',
      //   description: 'Vector Drawing',
      //   href: 'https://www.adobe.com/products/illustrator',
      //   icon: import('@/assets/tools/illustrator.svg?raw')
      // },
      {
        name: 'Figma',
        description: 'Vector Drawing',
        href: 'https://www.figma.com/',
        icon: import('@/assets/tools/figma.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Sonoma 14.7.1',
        description: "MacBook Pro 16'",
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>你可以在以下平台找到我：</p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/zhuozhiyongde',
        text: 'followers',
        api: 'github/zhuozhiyongde'
      },
      {
        platform: 'Zhihu',
        icon: 'zhihu',
        color: '#0084ff',
        link: 'https://www.zhihu.com/people/zhuozhiyongde',
        text: 'followers',
        count: 356
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#fe7398',
        link: 'https://space.bilibili.com/203396427',
        text: 'followers',
        count: 280
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/profiles/76561199760864774/',
        text: 'games',
        count: 1
      }
    ]}
  />

  <h2 id='education'>Education</h2>
  <Timeline
    events={[
      {
        date: '2021-09-01',
        content: '<a href="https://www.pku.edu.cn"target="_blank">北京大学</a>'
      },
      {
        date: '2014-09-01',
        content: '<a href="https://www.rdfz.cn/"target="_blank">中国人民大学附属中学</a>'
      }
    ]}
  />

  <h2 id='experience'>Experience</h2>
  <Timeline
    events={[
      {
        date: '2024-09-11',
        content:
          '<a href="https://slide.huh.moe/"target="_blank">北京大学 · 《计算机系统导论》课程助教</a>'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>本站基于以下项目/服务提供商的资源和技术支持：</p>
  <ul>
    <li>域名: <a href='https://cloud.tencent.com/' target='_blank'>Tencent Cloud</a></li>
    <li>
      框架 & 主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>评论系统：<a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      访问量统计：<a href='https://waline.js.org/' target='_blank'>Waline</a> + <a
        href='https://umami.is/'
        target='_blank'>Umami</a
      >
    </li>
    <li>
      粉丝数统计：<a href='https://github.com/spencerwooo/substats' target='_blank'>Substats</a>
    </li>
  </ul>
  {config.signature && <Signature />}
</PageLayout>
